/*content style*/
#contentContainer {
    color: #333;
    background: #E6EDF2;
    text-align: center;
    padding: 24pt 0px;
    
    overflow-x: hidden;
}
#content {
    font-size: 18pt;
    
    line-height: 1.5em;
    
    width: 90%;
    /*max-width: 1500pt;*/
    margin: auto;
}

/*item*/
#content .item {
    padding: 2em 0;
    display: table;
    margin: 0 auto;
}
#content .item span {
    display: inline-block;
    vertical-align: middle;
    
    padding: 0em 1em;
}
#content .item span.text {
    padding: 0.75em 1em;
}
#content .item iframe {
    background: black;
}

#content .item.extraPadding {
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}
#content .item.extraPadding span {
    padding: 0em 4.75em;
}
#content .item.extraPadding span.text {
    padding: 0.75em 4.75em;
}

/*headings*/
#content h2 {
    font-size: 30pt;
    font-weight: 100;
    line-height: 1.5em;
}
#content h3 {
    font-size: 20pt;
    line-height: 1.2em;
}

/*em*/
#content em {
    font-weight: bold;
}
#content h2 em {
    font-weight: normal;
}


/*images*/
#content img {
    height: 15em;
}
#content .ios img {
    height: 20em;
}

/*
#content img {
    width: 10em;
    height: 10em;
    border-radius: 100%;
    
    float: left;
    vertical-align: middle;
}
#content img.right {
    float: right;
}
#content span {
    text-align: left;
    padding-left: 2em;
    padding-right: 2em;
    
    height: 10em;
    display: table-cell;
    vertical-align: middle;
}
*/