/*general html elements*/
body {
    background: #a5a6a9;
    color: #dfe0e2;

    font-family: "Fugaz One", Futura, "Futura LT", "San Francisco", Helvetica, Tahoma, sans-serif;
}

a:focus {
    outline: none;
}
em {
    font-weight: bold;
}

/*side navigation*/
a.side_nav, a.side_nav:visited {
    width: 36pt;
    margin-left: auto;
    margin-right: auto;

    display: block;
    z-index: 2;

    position: fixed;
    top: 50%;
    transform: translate(0, -50%);

    font-size: 72pt;
    padding: 10px 8px;

    background: black;
    color: white;
    text-decoration: none;

    opacity: 0.6;
}
a.side_nav:hover {
    opacity: 0.7;
}
a.side_nav:active {
    opacity: 0.9;
}

#home_nav {
    transform: translate(0, -1.35em);
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;

    visibility: visible;
}
#home_nav img {
    width: 36pt;
}

#left_nav {
    left: 0;
    border-top-right-radius: 2px;
    border-top-right-radius: 2px;

    visibility: visible;
}
#right_nav {
    right: 0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;

    visibility: visible;
}


/*scrolling pages top-level setup*/
body {
    overflow-x: hidden;
}
#content {
    height: 100%;
    white-space: nowrap;
}
.page {
    display: inline-block;
    white-space: normal;
    vertical-align: top;
    width: 100%;

    height: auto;
    min-height: 100%;

    box-sizing: border-box;
}


/*normal page styling*/
.project {
    position: relative;

    padding: 90px 60px 60px 60px;
    border: 40px solid #eaded0;

    background: #b7c7bd;
    color: #0f0a01;
    text-align: center;
}

.project h1 {
    font-size: 42pt;
}
.project h2 {
    font-size: 36pt;
    line-height: 1.5em;
}
.project h3 {
    display: inline;
    padding: 2px 16px;
    border-radius: 1px;

    font-size: 38pt;
    line-height: 2.5em;

    color: #8E9F94;
    background: #D3E2D9;

    text-transform: lowercase;
}

/*title positioning*/
.project .title {
    position: absolute;
    top: 10px;
    right: 15px;

    vertical-align: middle;

    text-align: right;
}
.project .title h1 {
    display: inline;
    vertical-align: middle;
}

/*title tooltip*/
.project .tooltip {
    position: relative;

    display: inline-block;
    width: 30pt;
    height: 30pt;
    line-height: 30pt;

    border-radius: 50%;

    font-size: 21pt;
    text-align: center;
    vertical-align: middle;

    margin-left: 6px;
    margin-bottom: 4px;

    font-family: "SF UI Text", "Fugaz One", Helvetica, sans-serif;

    background: black;
    color: white;

    cursor: pointer;

    clear:none;
}
.project .tooltip:hover, .project .tooltip:focus {
    box-shadow: 0px 0px 3px 2px white;
}

.project .tooltip .tooltip_text {
    position: absolute;
    top: calc(100% + 9px);
    right: 3px;

    white-space: nowrap;
    padding: 6px 10px;
    border-radius: 2px;

    line-height: 1em;
    text-align: center;

    background: black;
    color: white;

    z-index: 1;
    visibility: hidden;

    cursor: default;
}
.project .tooltip .tooltip_text::after {
    content: "";

    position: absolute;
    top: -16px;
    right: 10px;

    border-width: 8px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}
.project .tooltip .tooltip_text p {
    font-family: "Futura LT", Futura, Helvetica, sans-serif;
    font-size: 16pt;
    text-transform: uppercase;;
}
.project .tooltip:hover .tooltip_text,
.project .tooltip:focus .tooltip_text {
    visibility: visible;
}

/*page links*/
.project a, .project a:visited {
    text-decoration: none;

    font-size: 24pt;
    line-height: 1.6em;
    padding: 0px 10px;

    color: white;
    background: forestgreen;

    box-shadow: -4px 4px 0px 0px green;
}
.project a:hover, .project a:focus {
    background: green;
    box-shadow: -6px 6px 0px 0px darkgreen;
}
.project a:active {
    color: #b7c7bd;
    box-shadow: -3px 3px 0px 0px darkgreen;
}

/*page media elements*/
.project iframe {
    border: 7px solid #0f0a01;
    border-radius: 2px;

    margin: 20px 50px 50px 50px;
}
.project iframe#icu_video {
    min-width: 600px;
    min-height: 337.5px;

    width: 60vw;
    height: 33.75vw;
}
.project iframe#lastword_video {
    min-width: 600px;
    min-height: 450px;

    width: 48vw;
    height: 36vw;

    margin: 20px 0 0 0;
}
.project iframe#brazil_video {
    min-width: 600px;
    min-height: 337.5px;

    width: 60vw;
    height: 33.75vw;

    margin: 20px 0 0 0;
}

.project img {
    border: 5px solid #0f0a01;
    border-radius: 2px;

    margin: 10px;
    padding: 4px 2px 12px 3px;
    background: #0f0a01;

    vertical-align: middle;

    min-width: 600px;
    width: 45%;
    height: auto;
}
.project img.single {
    min-width: 600px;
    width: 60%;
    height: auto;
}
.project img.vert {
    min-width: 320px;
    width: 22%;
    height: auto;
}

.project .lighten img {
    filter: brightness(200%) contrast(103%) saturate(105%);
}

.project img:nth-of-type(2n) {
    transform: rotate(-2deg);
}
.project img:nth-of-type(2n+1) {
    transform: rotate(1.5deg);
}
.project img:nth-of-type(3n) {
    transform: rotate(3deg);
}
.project img:nth-of-type(4n) {
    transform: rotate(-2.5deg);
}

/*etc cleanup*/
#about_content {
    display: inline-block;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    vertical-align: middle;
}
#about_content a, #about_content a:visited {
    font-size: 64pt;
    line-height: 2em;
    padding: 5px 15px;
}

/*header page styling*/
#header {
    display: inline-flex;
    z-index: 0;
    padding: 0px;

    text-transform: lowercase;
    text-align: center;

    background: #f45844;
    color: #e4e6dd;

    border: 30px solid #f43530;
}
#header_double_border {
    width: inherit;
    align-items: stretch;

    box-sizing: border-box;
    border: solid 16px #F5463B;
}

#header_content {
    display: inline-block;
    width: 100%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    vertical-align: middle;
}

#header h1 {
    font-size: 140pt;

    text-shadow:
    -1px -1px 0 #0f0a01,
    1px -1px 0 #0f0a01,
    -1px 1px 0 #0f0a01,
    1px 1px 0 #0f0a01;
}
#header h2 {
    font-size: 42pt;
    padding-bottom: 1em;
}

#header a, #header a:visited {
    display: inline-block;
    position: relative;

    width: 175px;
    height: 175px;
    margin: 5px;

    padding: 0;
    line-height: inherit;

    background: #dd6464;
    border: 10px solid #f43530;

    position: relative;
    border-radius: 50%;
    overflow: hidden;

    opacity: 0.8;
}
#header a p {
    visibility: hidden;
    display: inline-block;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 24pt;
    text-transform: uppercase;
    color: white;

    background: black;
    padding: 6px 8px;
}
#header a img {
    height: 100%;
    min-width: 100%;
    width: auto;

    vertical-align: middle;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header a:hover, #header a:focus {
    opacity: 1.0;
    border-color: #F43C37;
}
#header a:active, #header a:focus {
    border-color: #e4e6dd;
}
#header a:hover p, #header a:focus p {
    visibility: visible;
}
