/*font faces*/
@font-face {
    font-family: "Lemon/Milk";
    src: url("../fonts/LEMON MILK.otf") format("truetype");
}
@font-face {
    font-family: "Intro";
    src: url("../fonts/INTRO.otf") format("truetype");
}
@font-face {
    font-family: "Intro";
    src: url("../fonts/INTRO BOLD.otf") format("truetype");
    font-weight: 900;
}
@font-face {
    font-family: "Karla";
    src: url("../fonts/KARLA.ttf") format("truetype");
}
@font-face {
    font-family: "Gotham Pro";
    src: url("../fonts/GOTHAM PRO.otf") format("truetype");
}

body {
    font-family: Helvetica, sans-serif;

    background-color: #0D0D0D;
    background-image: repeating-linear-gradient(45deg, transparent, transparent 30px, rgba(255,255,255,.06) 30px, rgba(255,255,255,.06) 60px);

    overflow: hidden;
    box-sizing: border-box;
    text-align: center;
    vertical-align: middle;
}

/*interaction*/
#interaction {
    background: black;
    border-right: 1px solid #555;

    font-family: sans-serif;
    color: white;

    width: 18vw;
    height: 100vh;

    box-sizing: border-box;
    float: left;
    position: relative;

    overflow-x: visible;
}

.interactable {
    position: relative;
    z-index: 1;

    display: inline-block;
    width: 100%;

    margin-bottom: 15px;
    padding-bottom: 10px;

    /*background: #222;*/
    /*border-bottom: 3px groove #333;*/
}
.interactable:first-of-type {
    margin-top: 7px;
}

.heading {
    background: black;
    position: relative;

    border: 2px solid white;
    border-right-width: 2px;
    border-top-width: 2px;
    border-bottom-width: 4px;

    margin-bottom: 10px;
    /*TODO UNCOMMENT*//*margin-right: -1px;*/
}

#interaction .heading h1 {
    display: inline-block;
    vertical-align: middle;

    font-family: "Lemon/Milk";
    font-size: 29pt;
    text-transform: uppercase;

    padding: 7px calc(45pt + 7px) 8px 5px;
}


/*Pie Timer*/
#interaction .heading .pie_timer {
    display: inline-block;
    vertical-align: middle;

    position: absolute;
    top: 50%;
    right: 0;
    /*TODO UNCOMMENT*//*transform: translate(7px, -50%);*/
    transform: translate(-2px, -50%);

    width: 45pt;
    height: 45pt;

    border-radius: 50%;

    background: white;
    border: 3px solid white;
}
#interaction .heading .pie_timer:before {
    content: "";
    z-index: 50;
    opacity: 1;

    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    border-radius: 100%;

    background: white;
    border: 2px solid black;
}
#interaction .heading .pie_timer .mask {
    content: "";
    z-index: 300;
    opacity: 1;

    width: 50%;
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    box-sizing: border-box;
    border-radius: 45pt 0 0 45pt;

    background: white;
    border: 2px solid black;
    border-right: none;

    animation: mask steps(1, end);
}

#interaction .heading .pie_timer .pie {
    width: 50%;
    height: 100%;
    position: absolute;

    box-sizing: border-box;
    transform-origin: 100% 50%;

    background: black;
    border: 2px solid black;
}

#interaction .heading .pie_timer .spinner {
    z-index: 200;

    border-radius: 50px 0 0 50px;
    border-right: none;

    animation: rota linear;
}

#interaction .heading .pie_timer .filler {
    z-index: 100;
    opacity: 0;

    left: 50%;
    border-radius: 0 50px 50px 0;
    border-left: none;

    animation: fill steps(1, end);
}

#interaction .heading .pie_timer .mask,
#interaction .heading .pie_timer .spinner,
#interaction .heading .pie_timer .filler {
    animation-duration: 3s;
    animation-play-state: paused;
}

@keyframes rota {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
@keyframes fill {
  0%        { opacity: 0; }
  50%, 100% { opacity: 1; }
}
@keyframes mask {
  0%        { opacity: 1; }
  50%, 100% { opacity: 0; }
}
/*Pie Timer*/


#interaction .button {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    box-sizing: border-box;

    width: 42%;
    height: 110px;
    margin: 8px 5px;

    border-radius: 2px;
}
#interaction .button:after {
    content: "";
    width: calc(100% + 1px);
    height: calc(100% + 0px);

    position: absolute;
    z-index: -1;
    top: 1px;
    left: 1px;

    background: black;
    border: 1px solid white;
    border-radius: 2px;
}

#interaction a.button,
#interaction a.button:visited {
    background: #eee;
    color: #222;

    //border: 5px solid white;
}
#interaction a.button:hover {
    background: #fff;
    color: #111;

    left: -1px;
    top: -1px;

    //border: 5px solid white;
}
#interaction a.button:hover:after {
    height: calc(100% + 1px);
}

#interaction a.button:active {
    background: #ddd;
    color: #333;

    left: 1px;
    top: 1px;
}
#interaction a.button:active:after {
    top: 0px;
    left: 0px;
}

#interaction .button h2 {
    display: inline-block;
    box-sizing: border-box;

    width: 100%;
    padding: 5px;

    word-wrap: break-word;
    hyphens: manual;

    font-family: "Gotham Pro";
    font-size: 16pt;
    text-transform: uppercase;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

/*Vote Buttons*/
#interaction .button .progress {
    display: inline-block;
    box-sizing: border-box;
    pointer-events: none;

    width: 85%;
    height: 8px;

    position: absolute;
    bottom: 8px;
    left: 50%;
    transform: translate(-50%, 0);

    border-radius: 5px;
    background: #999;
    opacity: 0.8;
}

#interaction .button .progress .fill {
    display: inline-block;

    width: 0%;
    height: 100%;
    padding: 2px 4px;

    position: absolute;
    left: -4px;
    top: -2px;

    border-radius: 5px;
    background: black;

    animation: linear 15s;
    animation-play-state: paused;
}

#interaction .button #progress_less .fill {
    width: 30%;
    animation-name: progress_less;
}
#interaction .button #progress_more .fill {
    width: 75%;
    animation-name: progress_more;
}

@keyframes progress_less {
  0%, 10%   { width: 0%; }
  55%       { width: 25%; }
  70%, 100% { width: 30%; }
}
@keyframes progress_more {
  0%   { width: 0%; }
  10%  { width: 15%; }
  60%  { width: 70%; }
  75%, 100% { width: 75%; }
}

/*Reaction Buttons*/
#interaction .reaction {
    width: 28.5%;
    height: 84px;
    margin: 7px 4px;
}

#interaction .reaction img {
    display: inline-block;
    height: 54px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    pointer-events: none;
}

#interaction .trick h3,
#interaction .reaction h3 {
    display: inline-block;
    pointer-events: none;

    font-family: "Gotham Pro";
    font-size: 13pt;

    position: absolute;
    bottom: 2px;
    right: 3px;

    color: #333;
    opacity: 0.9;
}
/*Reaction Buttons*/


/*stream*/
#stream {
    width: 66vw;
    height: 37.125vw;

    /*min-width: 600px;
    min-height: 337.5px;*/
}


/*status*/
#status {
    display: inline-block;
    box-sizing: border-box;
    vertical-align: middle;
    position: relative;

    width: 66vw;
    height: calc(100vh - 37.125vw);
    max-height: 300px;

    background: black;
    color: white;

    border: 2px solid white;
    border-bottom-width: 5px;

    padding: 10px;
}

#status .minimap {
    display: block;
    z-index: 1;

    position: relative;
    margin: 2px 20px 0px 4px;

    float: left;
    top: 0;

    width: calc(100vh - 37.125vw - 32px);
    height: calc(100vh - 37.125vw - 32px);
    max-width: 268px;
    max-height: 268px;

    background: black;
    border: 3px double #777;
    box-sizing: border-box;

    cursor: pointer;
}
#status .minimap .map {
    height: 100%;
    min-width: 100%;
    width: auto;

    vertical-align: middle;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    filter: brightness(180%);
}
#status .minimap .player {
    width: 32px;
    height: auto;

    position: absolute;
    top: 55px;
    left: 30px;

    animation: player_idle 10s linear infinite;
}
@keyframes player_idle {
    0%    { transform: rotate(90deg);
            top: 55px; left: 30px; }
    45%   { transform: rotate(130deg);
            top: 70px; left: 60px; }
    50%   { transform: rotate(-50deg);
            top: 70px; left: 60px; }
    95%   { transform: rotate(-90deg);
            top: 55px; left: 30px; }
    100%  { transform: rotate(90deg);
            top: 55px; left: 30px; }
}

#status .feed {
    /*margin-left: calc(100vh - 37.125vw - 4px);*/
    margin-right: 400px;

    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    border-left: 6px solid #ccc;
    padding-left: 4px;

    text-align: left;

    height: 100%;
    overflow: hidden;
}
#status .feed_content {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 100px;
}

#status .feed h3,
#status .feed h4 {
    display: inline-block;
    white-space: pre-line;
    position: relative;

    font-family: "Intro";

    padding: 10px 12px;
    padding-right: 22px;
    margin: 0;

    border: 1px solid #181818;
    border-top-right-radius: 1px;
    border-bottom-right-radius: 1px;
}
#status .feed h3 em,
#status .feed h4 em {
    color: white;
    text-shadow: 0 0 2px #bbb;
}

#status .feed h3 {
    font-size: 17pt;
    color: #eee;

    background: #333;
    border-right: 6px solid #F55757;
}
#status .feed h4 {
    font-size: 15pt;
    color: #ddd;

    background: #222;
    border-right: 4px solid #ddd;
}

#status .feed h3:after {
    content: "";
    width: 18px;
    height: 18px;

    position: absolute;
    right: -3px;
    top: 50%;
    transform: translate(50%, -50%);

    background: #F55757;
    border-radius: 50%;
}


#status .profile {
    display: flex;
    align-items: center;
    text-align: right;

    position: absolute;
    top: 50%;
    right: 40px;
    transform: translate(0%, -50%);

    /*background: red;*/
}

#status .profile h1 {
    font-size: 29pt;
    line-height: 36pt;
    font-family: "Karla";
}
#status .profile h2 {
    font-size: 51pt;
    font-family: "Intro";
    font-weight: 900;
}

#status .profile .prof_text {
    display: inline-block;
    vertical-align: middle;

    /*background: blue;*/
    padding-right: 12px;
}

#status .profile .right {
    display: inline-block;
    float: right;
    position: relative;
}

#status .profile .prof_pic {
    position: relative;

    overflow: hidden;
    width: 96px;
    height: 96px;

    background: #222;
    border: 2px solid #eee;
    border-radius: 50%;
}
#status .profile .prof_pic img {
    height: 100%;
    min-width: 100%;
    width: auto;

    vertical-align: middle;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#status .profile .right .badge {
    position: absolute;
    top: -6px;
    left: calc(50% + 4px);
    transform: translate(-50%, -100%) rotate(8deg);

    width: 32px;
    height: auto;
}
#status .profile .right .level {
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translate(-50%, 0%);

    padding: 0px 2px 0px 1px;

    background: #eee;
    border-radius: 2px;
    border: 1px solid #cfcfcf;
}
#status .profile .right .level h3 {
    font-family: "Karla";
    font-size: 12pt;
    color: #333;
}

/*chat*/
#chat {
    width: 16vw;
    height: 100vh;

    float: right;
}

iframe#chat * {
    font-size: 48pt !important;
}
